body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header{
    color: white;
    padding: 20px;
    text-align: center;
    background-image: url(../assets/NBA\ National\ Basketball\ Association\ USA\ Basketball\ NBA\ Logo.jpeg);
    background-size: cover;
    background-position: center;
}

header h1{
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

#celtics-container{
    background-image: url(../assets/celtics-logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 30px;
}

#bucks-containers{
    background-image:url(../assets/milwaukee\ bucks-logo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

#celtics-players, #bucks-players{
    margin-bottom: 20px;
}

#celtics-players, #bucks-players{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.player-card {
    border:  1px solid #ccc;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    text-align: center;
}

.player-image{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

#comment-form {
    margin-top: 2opx;
}

#comment-input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    background-color: #333;
    color: white;
    border: none;
    padding: 10px, 20px;
    cursor: pointer;
}

#comment-list{
    list-style: none;
    padding: 0;
}